<% layout('layout') %>

<div class="soundcloud-wrapper">
  <h3>SoundCloud Finder</h3>
  
  <form class="soundcloud-form" action="/search">
    <div class="span3">
      <input type="text" placeholder="Title" name="title"/>
    </div>
  
    <div class="span3">
      <input type="text" placeholder="Artist" name="artist"/>
    </div>
  
    <input type="submit" class="btn btn-large btn-block btn-primary"/>
  </form>
  
  <div class="soundcloud-player"></div>
</div>
