<!DOCTYPE html>
<html>
  <head>
    <title>Soundcloud Finder</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/libraries/flat/flat-ui.css" />

    <!-- Flat UI -->
    <script type="text/javascript" src="/javascripts/libraries/flat/jquery-1.8.3.min.js"></script>

    <!-- Soundcloud -->
    <script type="text/javascript" src="/javascripts/libraries/soundcloud.js"></script>

    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/javascripts/script.js"></script>

  </head>

  <body>
    <%- body %>
  </body>
</html>
